<div style="border: 1px solid black, height:300px">

<h1>You are invited to become a Professor at TETBIT UNIVERSITY</h1>

<p>Our warmest welcome to our University!</p>
<p>Thank you for being a part of our route to success for our students</p>

<h5>In order for you to register in our platform as a professor and have access to all our features, you have to verify your account and fill the form after you click the link</h5>

<p><b>This is your link:</b></p>

<a href="{{link}}">Your confirmation link!</a>
</div>